body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  color: #444444;
}
p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 18px;
    line-height: 1.6;
  }
}
table {
  font-size: 16px;
}
@media (min-width: 767px) {
  table {
    font-size: 18px;
  }
}
a {
  color: #cc9999;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.dark-color {
  color: #000000;
}
.light-color {
  color: #dddddd;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #aa5555;
}
.light {
  font-weight: 400;
}
.navbar {
  color: #cc9999;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 120%;
  background-color: #ffffff;
}
.navbar-brand {
  font-weight: 700;
  font-size: 100%;
}
.navbar > .container .navbar-brand {
  color: #cc9999;
}
.navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: #cc9999;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #cc9999;
}
.navbar-toggle:focus,
.navbar-toggle:active {
  outline: none;
}
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #ffffff;
  }
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: right;
  color: #cc9999;
  background: url(../img/intro-bg.jpg) no-repeat top center scroll;
  background-color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro-body {
  display: table-cell;
  vertical-align: top;
  padding-top: 0px;
}
.kolegiata {
  position: relative;
  width: 100%;
  height: 900px;
  color: #000000;
  background: url(../img/justyna-kamil-slub.jpg) no-repeat top center scroll;
  background-color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.folwark {
  position: relative;
  width: 100%;
  height: 800px;
  color: #000000;
  background: url(../img/justyna-kamil-wesele.jpg) no-repeat top center scroll;
  background-color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.pic-header {
  position: absolute;
  padding: 30px 0 0px 0;
  width: 100%;
  top: 0px;
  left: 0px;
}
.alpha-header {
  background-color: rgba(255, 255, 255, 0.3);
}
.big-header {
  font-size: 50px;
}
.brand-heading {
  color: #cc9999;
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;
}
.intro-text {
  color: #cc9999;
  font-size: 32px;
  margin-left: 30px;
  margin-right: 30px;
}
@media (min-width: 767px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro-body {
    vertical-align: top;
    padding-top: 100px;
  }
  .brand-heading {
    color: #cc9999;
    font-size: 64px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .intro-text {
    color: #cc9999;
    font-size: 48px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 7px 16px;
  border: 2px solid #cc9999;
  border-radius: 35px;
  font-size: 40px;
  color: #cc9999;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #cc9999;
  background: rgba(255, 255, 255, 0.1);
}
.page-scroll .btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.page-scroll .btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  margin-top: 40px;
  padding-top: 60px;
}
.download-section {
  width: 100%;
  padding: 50px 0;
  color: #000000;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .content-section {
    margin-top: 190px;
    padding-top: 60px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-default {
  border: 1px solid #cc9999;
  color: #cc9999;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #cc9999;
  outline: none;
  color: #cc9999;
  background-color: #cc9999;
}
.btn-huge {
  padding: 25px;
  font-size: 26px;
}
.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0;
  }
}
